html {
  display: flex;
  flex-direction: column;
  background: url('images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #634963;
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

nav {
  display: none;
}

label {
  margin-bottom: 0.2em;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Monoton', cursive;
  text-align: center;
  background-color: rgba(251,236,251,0.9);
  border-radius: 0.5em;
  font-size: 2.5em;
  border: 0.025em solid #C9A9C8;
}

h2 {
  border: 0.2em double #8E658E;
  border-radius: 0.5em;
  text-align: center;
}


h4 {
  margin: 0.1em;
}
p {
  margin: 0.1em;
}


#new-djmon-form, #search-djmon, #open-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(251,236,251,0.9);
  border-radius: 0.5em;
  padding: 0.4em;
  border: 0.05em solid #C9A9C8;
}

#open-form, #close-form {
  display: none;
}

.form-item {
  display: flex;
  flex-direction: column;
  padding: 0.2em;
}
#park, #club, #dungeon, #rating, #checkbox, button, .button {
  cursor: pointer;
}

#delete-all {
  margin-bottom: 1.2em;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
}

#djmon-list {
margin-top: 0.5em;
padding: 0.5em 0;
display: flex;
flex-direction: row;
justify-content: space-evenly;
flex-wrap: wrap;
background-color: rgba(251,236,251,0.9);
border-radius: 0.5em;
min-height: 355px;
border: 0.05em solid #C9A9C8;
}

.list-body{
  background-color: rgba(251,236,251,0.5);
  border-radius: 0.5em;
  margin-top: 0.5em;
}

.djmon-list-item {
  display: flex;
  flex-direction: column;
  border: 0.2em double #8E658E;
  border-top-style: solid;
  border-bottom-style: solid;
  border-radius: 0.5em;
  box-shadow: inset 0 0 1em #8E658E;
  margin: 0.3em;
  padding: 1em 2em;
  background-color: #FFD8FF;
}

.djmon-list-item-checked {
  display: flex;
  flex-direction: column;
  border: 0.2em double #8E658E;
  border-top-style: solid;
  border-bottom-style: solid;
  border-radius: 0.5em;
  box-shadow: inset 0 0 1em #8E658E;
  margin: 0.3em;
  padding: 1em 2em;
  background-color: #BD98BC;
}

.not-seen-it {
  visibility: hidden;
}

.hidden {
  display: none;
}

.seen-it {
  text-align: center;
  font-weight: bold;
  color: #FFD8FF;
  text-shadow: 3px 4px 5px #634963;
}

.test {
  display: flex;
}

.djmon-body-item {
  display: flex;
  flex-direction: column;
}

.button, .button-delete {
  border: 0.1em solid #C9A9C8;
  border-radius: 0.5em;
  color: #634963;
  font-family: 'Quicksand', sans-serif;
  width: auto;
  height: 1.5em;
  box-shadow: 0.1em 0.15em #634963;
  font-size: 1em;
  margin-top: 0.5em;
}

.button:active, .button-delete:active {
  transform: translateY(0.15em);
  box-shadow: 0 0 #634963;
  font-family: 'Quicksand', sans-serif;
}

.button:hover, .button-delete:hover {
  font-family: 'Quicksand', sans-serif;
  background-color: #C9A9C8;
}
.button-delete {
  align-items: center;
}

select {
  font-family: 'Quicksand', sans-serif;
}


@media only screen and (min-device-width: 0px) and (max-device-width: 720px) {

  nav {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4em;
    align-items: center;
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }
  #new-djmon-form {
    display: none;
  }
  #new-djmon-form-show {
    display: flex;
    flex-direction: column;
    background-color: rgba(251,236,251,0.9);
    border-radius: 0.5em;
    padding: 0.4em;
    border: 0.05em solid #C9A9C8;
    margin-bottom: 0.4em;
  }

  #open-form {
    display: flex;
  }
}
